database:
  dbhost: "yourhost"
  dbuser: "youruser"
  dbpassword: "yourpassword"
  dbname: "yourdbname"
  dbport: integer
  dbsslmode: "isyours?"
  dbtimezone: "isityourtime?"
  mongodbuser: "youruser"
  mongodbpassword: "yourdb"
  mongodbhost: "yourdbhost"
  mongodbport: integer
  paypal_clientid: clientId
  paypal_secret: secret
thirdparty:
  cloudinaryurl: "yoururl"
  cloudinaryfolder: "yourfolder"
secret:
  jwtkey: "yourkey"
