version: "3.9"

services:
  blanja:
    restart: on-failure
    container_name: blanja
    image: blanja-api:1.0
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - blanja-network
    env_file:
      - .env
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_SSLMODE=${DB_SSLMODE}
      - DB_TIMEZONE=${DB_TIMEZONE}
      - CLOUDINARY_URL=${CLOUDINARY_URL}
      - CLOUDINARY_FOLDER=${CLOUDINARY_FOLDER}
      - JWT_KEY=${JWT_KEY}
    depends_on:
      - blanjaserver-pg
      - blanjaserver-mongo
  blanjaserver-pg:
    deploy:
      resources:
        reservations:
          memory: 750m
          cpus: "1.5"
    container_name: blanjaserver-pg
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    networks:
      - blanja-network
    volumes:
      - blanja-volumes:/var/lib/postgresql
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
  blanjaserver-mongo:
    container_name: blanjaserver-mongo
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - blanja-network
    volumes:
      - blanja-volumes:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DB_NAME}

networks:
  blanja-network:
    driver: bridge
    name: blanja-network

volumes:
  blanja-volumes:
    name: blanja-volumes