go 1.21.3

use ./webserver/helper

use ./webserver

use ./webserver/controller
use ./webserver/service

use ./repository
use ./webserver/response
use ./webserver/request

use ./config
use ./entity

use (
	.
	./test
)
